.app {
  width: 100vw;
  height: 100vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.metamask-login-btn {
  height: 40px;
  width: 200px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
}